.bsp-container-left {
    text-align: center;
    float: left;
    clear: left;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bsp-inline-text{
    vertical-align: middle;
}


.bsp-container-center{
    border-width: 0px ;
    text-align: center;
    display: block;
}
